.UIContainer {
    overflow: auto;
}

.letterBox {
    width: 5rem;
    height: 5rem;
    background: #F0F0F4;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    font-size: 2rem;
}

.main {
    background: #ffd924;
}

#solveButton {
    margin-top: 1rem;
    padding: 1rem;
    background: rgb(186, 255, 186);
    border: none;
    border-radius: 1rem;
    width: 100%;
}

.resultContainer {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.resultContainer.active {
    opacity: 1;
}